beautifulsoup4==4.9.1
certifi==2022.12.7
cffi==1.14.0
cryptography==3.3.2
decorator==4.4.2
future==0.18.2
pycparser==2.20
python-telegram-bot==12.7
six==1.15.0
soupsieve==2.0.1
telegram==0.0.1
tornado==6.0.4
